* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_page {
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}

.search_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid #ff7a9db9;
  width: 42rem;
  height: 3.4rem;
  border-radius: 25px;
  margin-bottom: 2rem;
}
#input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 3.4rem;
  border: none;
  background-color: transparent;
  font-size: large;
  outline: none;
}
.icon {
  height: 31px;
  fill: #ff7a9d;
}

#result {
  border: 4px solid #ff7a9db9;
  border-radius: 10px;
  max-height: 30rem;
  overflow-y: scroll;
 
}
#p {
  padding: 8px;
  cursor: pointer;
  padding-left: 23px;
}
#p:hover {
  background-color: #ff7a9d;

}
.search_container {
  margin-right: 2rem;
}
#anchor{
  text-decoration: none;
  color:inherit;
}

  @media screen and (max-width: 425px) 
 {
  .search_box
   {
      border: 4px solid rgb(255, 255, 255);
      width: 17rem;
      height: 2.8rem;
      background-color:rgb(255, 255, 255) ; 
   }
  #result
   {
      width: 17rem; height: 15rem;
      border: 4px solid rgb(255, 255, 255);
      background-color:rgb(255, 255, 255);
   }
  .icon
  {
      fill:  rgb(117 117 117);
      height: 2.5rem;
      margin-left: 5px;
      margin-right: 4px;
  }
  .main_page
  {
      background-image: url("https://images.unsplash.com/photo-1582979512210-99b6a53386f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fHllbGxvdyUyMGJhY2tncm91bmQlMjBmcnVpdHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100dvh;
  }
  #input_box
  {
    font-size: medium;
  }

  #p:hover {
    background-color: #f1bb25c3;
  
  }

}  